<!-- Wrapper -->
<div id="wrapper">
    <!-- START SECTION HEADINGS -->
    <!-- Header Container
    ================================================== -->
    <app-header-before-login></app-header-before-login>
    <div class="clearfix"></div>
    <!-- Header Container / End -->
    <section style="padding: 0px;" class="ui-element">
        <div class="text-heading">
            <div class="container">
                <h1>Macro calculator</h1>
                <p>Macronutrients (macros) are typically defined as the three substrates that are used by the body
                    for the
                    production of energy. Those energy substrates are carbohydrates, fats, and proteins. Together,
                    the
                    macronutrients create the caloric total for a food. <br>
                </p>
                <p>Enter your daily calories (or use the 'Find My Daily Needs' feature), Press the Calculate Button
                    then use the
                    sliders or presets to adjust if needed.
                </p>
                <hr>
            </div>
        </div>
    </section>

    <section style="padding: 0px;background: #fff;" class="blog-section">
        <div class="container">
            <div class="col-sm-12" style="display: inline-flex;font-size: larger;">
                <!-- <div class="col-sm-1"></div> -->
                <div style="display: contents;">
                    <label for="units" class="labelweightunit" style="margin-right: 15px;">Units:</label>
                    <div style="padding: 0px;" class="col-sm-3 the-check-list">
                        <div class="radio-option" style="float:left;">
                            <div class="inner"></div>
                            <input type="radio" name="diet" value="602515" checked />
                            <span class="mt-1">60/25/15(High carb)</span>
                        </div>
                    </div>
                    <div style="padding: 0px;margin-left: 25px;" class="col-sm-3 the-check-list">
                        <div class="radio-option mr-2" style="float:left;">
                            <div class="inner"></div>
                            <input type="radio" name="diet" value="503020" />
                            <span class="mt-1">50/30/20(Moderate)</span>
                        </div>
                    </div>
                    <div style="padding: 0px;" class="col-sm-3 the-check-list">
                        <div class="radio-option mr-2" style="float:left;">
                            <div class="inner"></div>
                            <input type="radio" name="diet" value="403030" />
                            <span class="mt-1">40/30/30(Zone diet)</span>
                        </div>
                    </div>
                    <div style="padding: 0px;" class="col-sm-3 the-check-list">
                        <div class="radio-option mr-2" style="float:left;">
                            <div class="inner"></div>
                            <input type="radio" name="diet" value="254530" />
                            <span class="mt-1">25/45/30(Low carb)</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-sm-12" style="display: inline-flex;font-size: larger;margin: 0px;padding: 0px;">
                <div style="display: inline-flex;margin: 0px;padding: 0px;"
                    class="col-xs-12 col-xs-offset-2 col-sm-12 col-sm-offset-2 col-md-12 col-md-offset-2 col-lg-6 col-lg-offset-0 bottom-margin">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label for="calories">Calories:</label>
                        <div style="margin-bottom: 7px;" class="input-group bootstrap-touchspin">
                            <!-- <span class="input-group-btn"><button
                                    class="btn btn-default bootstrap-touchspin-down"
                                    type="button">-</button></span> -->
                            <!-- <span
                                class="input-group-addon bootstrap-touchspin-prefix"
                                style="display: none;color: #274abb;"></span> -->
                            <input id="calories" type="text" value="1200"
                                name="calories" class="form-control" style="display: block;">
                            <span
                                class="input-group-addon bootstrap-touchspin-postfix"
                                style="display: none;"></span>
                            <!-- <span class="input-group-btn">
                                <button
                                    class="btn btn-default bootstrap-touchspin-up" type="button">+</button>
                            </span> -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bottom-margin">
                        <label for="meals">Meals per day:</label>
                        <div style="margin-bottom: 7px;" class="input-group bootstrap-touchspin">
                            <!-- <span class="input-group-btn"><button
                                    class="btn btn-default bootstrap-touchspin-down"
                                    type="button">-</button></span> -->
                            <span
                                class="input-group-addon bootstrap-touchspin-prefix"
                                style="display: none;"></span><input id="meals" type="text" value="1" name="meals"
                                class="form-control" style="display: block;"><span
                                class="input-group-addon bootstrap-touchspin-postfix"
                                style="display: none;"></span>
                                <!-- <span class="input-group-btn"><button
                                    class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span> -->
                        </div>
                        <button type="button" class="btn btn-primary full-width"
                            (click)="calculateCPF()">Calculate!</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-sm-12" style="display: inline-flex;text-align: -webkit-center;">
                <div class="col-sm-4">
                    <h3>Carbs</h3>
                    <div id="carbs"></div>
                </div>
                <div class="col-sm-4">
                    <h3>Protein</h3>
                    <div id="protein"></div>
                </div>
                <div class="col-sm-4">
                    <h3>Fat</h3>
                    <div id="fat"></div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-sm-4"></div>
                <div style="font-weight: bolder;" class="infobox col-sm-4">
                    <span class="nobreak">Carbs:<span id="carbinfo">180g</span></span>
                    <span class="nobreak" style="margin-left: 10px;">Protein:<span id="proteininfo">60g</span></span>
                    <span class="nobreak" style="margin-left: 10px;">Fat:<span id="fatinfo">27g</span></span>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </section>

    <!-- START FOOTER -->
    <footer class="first-footer">
        <div class="second-footer">
            <div class="container">
                <p>2021 © </p>
            </div>
        </div>
    </footer>

    <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    <!-- END FOOTER -->

    <!--register form -->
    <div class="login-and-register-form modal">
        <div class="main-overlay"></div>
        <div class="main-register-holder">
            <div class="main-register fl-wrap">
                <div class="close-reg"><i class="fa fa-times"></i></div>
                <h3>Welcome to <span>Find<strong>Houses</strong></span></h3>
                <div class="soc-log fl-wrap">
                    <p>Login</p>
                </div>
                <div class="log-separator fl-wrap"><span>Or</span></div>
                <div id="tabs-container">
                    <ul class="tabs-menu">
                        <li class="current"><a href="#tab-1">Login</a></li>
                        <li><a href="#tab-2">Register</a></li>
                    </ul>
                    <div class="tab">
                        <div id="tab-1" class="tab-contents">
                            <div class="custom-form">
                                <form method="post" name="registerform">
                                    <label>Username or Email Address * </label>
                                    <input name="email" type="text" onClick="this.select()" value="">
                                    <label>Password * </label>
                                    <input name="password" type="password" onClick="this.select()" value="">
                                    <button type="submit" class="log-submit-btn"><span>Log In</span></button>
                                    <div class="clearfix"></div>
                                    <div class="filter-tags">
                                        <input id="check-a" type="checkbox" name="check">
                                        <label for="check-a">Remember me</label>
                                    </div>
                                </form>
                                <div class="lost_password">
                                    <a href="#">Lost Your Password?</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <div id="tab-2" class="tab-contents">
                                <div class="custom-form">
                                    <form method="post" name="registerform" class="main-register-form"
                                        id="main-register-form2">
                                        <label>First Name * </label>
                                        <input name="name" type="text" onClick="this.select()" value="">
                                        <label>Second Name *</label>
                                        <input name="name2" type="text" onClick="this.select()" value="">
                                        <label>Email Address *</label>
                                        <input name="email" type="text" onClick="this.select()" value="">
                                        <label>Password *</label>
                                        <input name="password" type="password" onClick="this.select()" value="">
                                        <button type="submit" class="log-submit-btn"><span>Register</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--register form end -->

    <!-- START PRELOADER -->
    <div id="preloader">
        <div id="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <!-- END PRELOADER -->

    <!-- ARCHIVES JS -->
    <!-- <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/transition.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/mmenu.min.js"></script>
    <script src="js/mmenu.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/slick3.js"></script>
    <script src="js/fitvids.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/lightcase.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/ajaxchimp.min.js"></script>
    <script src="js/newsletter.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/forms-2.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/leaflet-gesture-handling.min.js"></script>
    <script src="js/leaflet-providers.js"></script>
    <script src="js/leaflet.markercluster.js"></script>
    <script src="js/map4.js"></script>
    <script src="js/color-switcher.js"></script>
    <script src="js/ui-lement.js"></script> -->

    <!-- Slider Revolution scripts -->
    <!-- <script src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="revolution/js/extensions/revolution.extension.video.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/round-slider@1.5.1/dist/roundslider.min.js"></script>
    <script type="text/javascript" src="figures/jquery.bootstrap-touchspin.min.js"></script> -->

    <!-- MAIN JS -->
    <!-- <script src="js/script.js"></script>
    <script src="js/exercise-calorie-calculator.js"></script> -->

</div>
<!-- Wrapper / End -->