<div id="wrapper">
        <!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <app-header-before-login></app-header-before-login>
        <div class="clearfix"></div>
      
        <section style="padding: 0px;background: #fff;" class="blog-section">
            <div class="container">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <div>
                        <div id="login-box" class="text-center pt-5">
                                <h1 class="mb-5 text-white" >About</h1>
                                <p class="mt-5">Add text</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="first-footer">
            <div class="second-footer">
                <div class="container">
                    <p>2021 ©</p>
                </div>
            </div>
        </footer>
      </div>