<!-- Wrapper -->
<div id="wrapper">
    <!-- START SECTION HEADINGS -->
    <!-- Header Container
    ================================================== -->
    <app-header-before-login></app-header-before-login>
    <div class="clearfix"></div>
    <!-- Header Container / End -->
    <section style="padding: 0px;" class="ui-element text-center">
        <div class="text-heading">
            <div class="container">
                <div class="col-sm-12" style="display: inline-flex;font-size: larger;">
                    <div style="margin-top: 8px;padding: 0px;" class="col-sm-1 the-check-list">
                    <div class="radio-option mr-2" style="float:left;">
                        <div class="inner"></div>
                        <input type="radio" (change)="change()" name="radio" value="male" checked/>
                        <span class="mt-1">Male</span>
                    </div>
                    </div>
                    <div style="margin-top: 8px;padding: 0px;" class="col-sm-1 the-check-list">
                        <div class="radio-option mr-2" style="float:left;">
                            <div class="inner"></div>
                            <input type="radio" (change)="change()" name="radio" value="female" />
                            <span class="mt-1">Female</span>
                        </div>
                    </div>
                    <div style="padding: 0px;margin: 0px;" class="col-sm-10">
                        <button class="btn btn-outline btn-primary" (click)="setType('Bodyweight')" [ngClass]="{'active':getType()=='Bodyweight'}">Bodyweight</button>
                        <button class="btn btn-outline btn-primary" (click)="setType('Barbell')" [ngClass]="{'active':getType()=='Barbell'}">Barbell</button>
                        <button class="btn btn-outline btn-primary" (click)="setType('Dumbbells')" [ngClass]="{'active':getType()=='Dumbbells'}">Dumbbells</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="padding: 0px;background: #fff;" class="blog-section">
        <div class="container">
            <div id="malefigures">
                <div id="mobile-muscle-map"><img id="mobilebg"
                        src="assets/figures/male-figure-images/mobile-muscle-map/mobilebg.png">
                    <img id="traps-a" src="assets/figures/male-figure-images/mobile-muscle-map/08.-TrapsLeft.png">
                    <img id="traps-b" src="assets/figures/male-figure-images/mobile-muscle-map/08.-TrapsRight.png">
                    <img id="shoulders-a" src="assets/figures/male-figure-images/mobile-muscle-map/07.A-Deltoids.png">
                    <img id="shoulders-b" src="assets/figures/male-figure-images/mobile-muscle-map/07.B-Deltoids.png">
                    <img href="http://localhost:4200/#/chest" id="pecs" src="assets/figures/male-figure-images/mobile-muscle-map/06.-Pecs.png">
                    <img id="biceps-a" src="assets/figures/male-figure-images/mobile-muscle-map/05.A-Biceps.png">
                    <img id="biceps-b" src="assets/figures/male-figure-images/mobile-muscle-map/05.B-Biceps.png">
                    <img id="forearm-a" src="assets/figures/male-figure-images/mobile-muscle-map/14.A-Forearms.png">
                    <img id="forearm-b" src="assets/figures/male-figure-images/mobile-muscle-map/14.B-Forearms.png">
                    <img id="obliques" src="assets/figures/male-figure-images/mobile-muscle-map/04.-Obliques.png">
                    <img id="quads-a" src="assets/figures/male-figure-images/mobile-muscle-map/01.A-Quads.png">
                    <img id="quads-b" src="assets/figures/male-figure-images/mobile-muscle-map/01.B-Quads.png">
                    <img id="calves-a" src="assets/figures/male-figure-images/mobile-muscle-map/13.A-Calves.png">
                    <img id="calves-b" src="assets/figures/male-figure-images/mobile-muscle-map/13.B-Calves.png">
                    <img id="back-traps-a" src="assets/figures/male-figure-images/mobile-muscle-map/08.B-Traps.png">
                    <img id="back-traps-b" src="assets/figures/male-figure-images/mobile-muscle-map/08.C-Traps.png">
                    <img id="back-shoulders-a" src="assets/figures/male-figure-images/mobile-muscle-map/07.C-Deltoids.png">
                    <img id="back-shoulders-b" src="assets/figures/male-figure-images/mobile-muscle-map/07.D-Deltoids.png">
                    <img id="triceps-a" src="assets/figures/male-figure-images/mobile-muscle-map/09.A-Triceps.png">
                    <img id="triceps-b" src="assets/figures/male-figure-images/mobile-muscle-map/09.B-Triceps.png">
                    <img id="back-lats-a" src="assets/figures/male-figure-images/mobile-muscle-map/10.A-Lats.png">
                    <img id="back-lats-b" src="assets/figures/male-figure-images/mobile-muscle-map/10.B-Lats.png">
                    <img id="back-lower" src="assets/figures/male-figure-images/mobile-muscle-map/15.-Lower-Back.png">
                    <img id="back-forearms-a" src="assets/figures/male-figure-images/mobile-muscle-map/14.C-Forearms.png">
                    <img id="back-forearms-b" src="assets/figures/male-figure-images/mobile-muscle-map/14.D-Forearms.png">
                    <img id="back-glutes" src="assets/figures/male-figure-images/mobile-muscle-map/11.-Glutes.png">
                    <img id="back-hamstrings-a" src="assets/figures/male-figure-images/mobile-muscle-map/12.A-Hamstrings.png">
                    <img id="back-hamstrings-b" src="assets/figures/male-figure-images/mobile-muscle-map/12.B-Hamstrings.png">
                    <img id="back-calves-a" src="assets/figures/male-figure-images/mobile-muscle-map/13.C-Calves.png">
                    <img id="back-calves-b" src="assets/figures/male-figure-images/mobile-muscle-map/13.D-Calves.png">
                </div>
                <div id="muscle-map"><img id="background"
                        src="assets/figures/male-figure-images/muscle-map/00.-Blank-Figures.png">
                    <img id="traps-a" src="assets/figures/male-figure-images/muscle-map/08.-TrapsLeft.png">
                    <img id="traps-b" src="assets/figures/male-figure-images/muscle-map/08.-TrapsRight.png">
                    <img id="shoulders-a" src="assets/figures/male-figure-images/muscle-map/07.A-Deltoids.png">
                    <img id="shoulders-b" src="assets/figures/male-figure-images/muscle-map/07.B-Deltoids.png">
                    <img id="pecs" src="assets/figures/male-figure-images/muscle-map/06.-Pecs.png">
                    <img id="biceps-a" src="assets/figures/male-figure-images/muscle-map/05.A-Biceps.png">
                    <img id="biceps-b" src="assets/figures/male-figure-images/muscle-map/05.B-Biceps.png">
                    <img id="forearm-a" src="assets/figures/male-figure-images/muscle-map/14.A-Forearms.png">
                    <img id="forearm-b" src="assets/figures/male-figure-images/muscle-map/14.B-Forearms.png">
                    <img id="obliques" src="assets/figures/male-figure-images/muscle-map/04.-Obliques.png">
                    <img id="quads-a" src="assets/figures/male-figure-images/muscle-map/01.A-Quads.png">
                    <img id="quads-b" src="assets/figures/male-figure-images/muscle-map/01.B-Quads.png">
                    <img id="calves-a" src="assets/figures/male-figure-images/muscle-map/13.A-Calves.png">
                    <img id="calves-b" src="assets/figures/male-figure-images/muscle-map/13.B-Calves.png">
                    <img id="back-traps-a" src="assets/figures/male-figure-images/muscle-map/08.B-Traps.png">
                    <img id="back-traps-b" src="assets/figures/male-figure-images/muscle-map/08.C-Traps.png">
                    <img id="back-shoulders-a" src="assets/figures/male-figure-images/muscle-map/07.C-Deltoids.png">
                    <img id="back-shoulders-b" src="assets/figures/male-figure-images/muscle-map/07.D-Deltoids.png">
                    <img id="triceps-a" src="assets/figures/male-figure-images/muscle-map/09.A-Triceps.png">
                    <img id="triceps-b" src="assets/figures/male-figure-images/muscle-map/09.B-Triceps.png">
                    <img id="back-lats-a" src="assets/figures/male-figure-images/muscle-map/10.A-Lats.png">
                    <img id="back-lats-b" src="assets/figures/male-figure-images/muscle-map/10.B-Lats.png">
                    <img id="back-lower" src="assets/figures/male-figure-images/muscle-map/15.-Lower-Back.png">
                    <img id="back-forearms-a" src="assets/figures/male-figure-images/muscle-map/14.C-Forearms.png">
                    <img id="back-forearms-b" src="assets/figures/male-figure-images/muscle-map/14.D-Forearms.png">
                    <img id="back-glutes" src="assets/figures/male-figure-images/muscle-map/11.-Glutes.png">
                    <img id="back-hamstrings-a" src="assets/figures/male-figure-images/muscle-map/12.A-Hamstrings.png">
                    <img id="back-hamstrings-b" src="assets/figures/male-figure-images/muscle-map/12.B-Hamstrings.png">
                    <img id="back-calves-a" src="assets/figures/male-figure-images/muscle-map/13.C-Calves.png">
                    <img id="back-calves-b" src="assets/figures/male-figure-images/muscle-map/13.D-Calves.png">
                </div>
            </div>
            <div style="display: none;" id="femalefigures">
                <div id="mobile-muscle-map-female">
                    <img id="mobilebg-female" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-mobilebg.png">
                    <img id="female-traps-a" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-traps-A.png">
                    <img id="female-traps-b" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-traps-B.png">
                    <img id="female-shoulders-a"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-deltoids-A.png">
                    <img id="female-shoulders-b"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-deltoids-B.png">
                    <img id="female-pecs" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-pecs.png">
                    <img id="female-biceps-a" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-biceps-A.png">
                    <img id="female-biceps-b" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-biceps-B.png">
                    <img id="female-forearm-a"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-forearms-A.png">
                    <img id="female-forearm-b"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-forearms-B.png">
                    <img id="female-abdominals"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-abdominals.png">
                    <img id="female-quads-a" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-quads-A.png">
                    <img id="female-quads-b" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-quads-B.png">
                    <img id="female-calves-a" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-calves-A.png">
                    <img id="female-calves-b" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-calves-B.png">
                    <img id="female-back-traps-a"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-traps-C.png">
                    <img id="female-back-traps-b"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-traps-D.png">
                    <img id="female-back-shoulders-a"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-deltoids-C.png">
                    <img id="female-back-shoulders-b"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-deltoids-D.png">
                    <img id="female-triceps-a"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-triceps-A.png">
                    <img id="female-triceps-b"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-triceps-B.png">
                    <img id="female-back-lats-a" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-lats-A.png">
                    <img id="female-back-lats-b" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-lats-B.png">
                    <img id="female-back-lower"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-lowerback.png">
                    <img id="female-back-forearms-a"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-forearms-C.png">
                    <img id="female-back-forearms-b"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-forearms-D.png">
                    <img id="female-back-glutes" src="assets/figures/female-figure-images/mobile-muscle-map-female/female-glutes.png">
                    <img id="female-back-hamstrings-a"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-hamstrings-A.png">
                    <img id="female-back-hamstrings-b"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-hamstrings-B.png">
                    <img id="female-back-calves-a"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-calves-C.png">
                    <img id="female-back-calves-b"
                        src="assets/figures/female-figure-images/mobile-muscle-map-female/female-calves-D.png">
                </div>
                <div id="muscle-map-female">
                    <img id="background-female" src="assets/figures/female-figure-images/muscle-map-female/Female-Figures.png">
                    <img id="female-traps-a" src="assets/figures/female-figure-images/muscle-map-female/female-traps-A.png">
                    <img id="female-traps-b" src="assets/figures/female-figure-images/muscle-map-female/female-traps-B.png">
                    <img id="female-shoulders-a"
                        src="assets/figures/female-figure-images/muscle-map-female/female-deltoids-A.png">
                    <img id="female-shoulders-b"
                        src="assets/figures/female-figure-images/muscle-map-female/female-deltoids-B.png">
                    <img id="female-pecs" src="assets/figures/female-figure-images/muscle-map-female/female-pecs.png">
                    <img id="female-biceps-a" src="assets/figures/female-figure-images/muscle-map-female/female-biceps-A.png">
                    <img id="female-biceps-b" src="assets/figures/female-figure-images/muscle-map-female/female-biceps-B.png">
                    <img id="female-forearm-a"
                        src="assets/figures/female-figure-images/muscle-map-female/female-forearms-A.png">
                    <img id="female-forearm-b"
                        src="assets/figures/female-figure-images/muscle-map-female/female-forearms-B.png">
                    <img id="female-abdominals"
                        src="assets/figures/female-figure-images/muscle-map-female/female-abdominals.png">
                    <img id="female-quads-a" src="assets/figures/female-figure-images/muscle-map-female/female-quads-A.png">
                    <img id="female-quads-b" src="assets/figures/female-figure-images/muscle-map-female/female-quads-B.png">
                    <img id="female-calves-a" src="assets/figures/female-figure-images/muscle-map-female/female-calves-A.png">
                    <img id="female-calves-b" src="assets/figures/female-figure-images/muscle-map-female/female-calves-B.png">
                    <img id="female-back-traps-a"
                        src="assets/figures/female-figure-images/muscle-map-female/female-traps-C.png">
                    <img id="female-back-traps-b"
                        src="assets/figures/female-figure-images/muscle-map-female/female-traps-D.png">
                    <img id="female-back-shoulders-a"
                        src="assets/figures/female-figure-images/muscle-map-female/female-deltoids-C.png">
                    <img id="female-back-shoulders-b"
                        src="assets/figures/female-figure-images/muscle-map-female/female-deltoids-D.png">
                    <img id="female-triceps-a"
                        src="assets/figures/female-figure-images/muscle-map-female/female-triceps-A.png">
                    <img id="female-triceps-b"
                        src="assets/figures/female-figure-images/muscle-map-female/female-triceps-B.png">
                    <img id="female-back-lats-a" src="assets/figures/female-figure-images/muscle-map-female/female-lats-A.png">
                    <img id="female-back-lats-b" src="assets/figures/female-figure-images/muscle-map-female/female-lats-B.png">
                    <img id="female-back-lower"
                        src="assets/figures/female-figure-images/muscle-map-female/female-lowerback.png">
                    <img id="female-back-forearms-a"
                        src="assets/figures/female-figure-images/muscle-map-female/female-forearms-C.png">
                    <img id="female-back-forearms-b"
                        src="assets/figures/female-figure-images/muscle-map-female/female-forearms-D.png">
                    <img id="female-back-glutes" src="assets/figures/female-figure-images/muscle-map-female/female-glutes.png">
                    <img id="female-back-hamstrings-a"
                        src="assets/figures/female-figure-images/muscle-map-female/female-hamstrings-A.png">
                    <img id="female-back-hamstrings-b"
                        src="assets/figures/female-figure-images/muscle-map-female/female-hamstrings-B.png">
                    <img id="female-back-calves-a"
                        src="assets/figures/female-figure-images/muscle-map-female/female-calves-C.png">
                    <img id="female-back-calves-b"
                        src="assets/figures/female-figure-images/muscle-map-female/female-calves-D.png">
                </div>
            </div>
        </div>
    </section>

    <!-- START FOOTER -->
    <footer class="first-footer">
        <div class="second-footer">
            <div class="container">
                <p>2021 ©</p>
            </div>
        </div>
    </footer>

    <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    <!-- END FOOTER -->

    <!--register form -->
    <div class="login-and-register-form modal">
        <div class="main-overlay"></div>
        <div class="main-register-holder">
            <div class="main-register fl-wrap">
                <div class="close-reg"><i class="fa fa-times"></i></div>
                <h3>Welcome to <span>Find<strong>Houses</strong></span></h3>
                <div class="soc-log fl-wrap">
                    <p>Login</p>
                </div>
                <div class="log-separator fl-wrap"><span>Or</span></div>
                <div id="tabs-container">
                    <ul class="tabs-menu">
                        <li class="current"><a href="#tab-1">Login</a></li>
                        <li><a href="#tab-2">Register</a></li>
                    </ul>
                    <div class="tab">
                        <div id="tab-1" class="tab-contents">
                            <div class="custom-form">
                                <form method="post" name="registerform">
                                    <label>Username or Email Address * </label>
                                    <input name="email" type="text" onClick="this.select()" value="">
                                    <label>Password * </label>
                                    <input name="password" type="password" onClick="this.select()" value="">
                                    <button type="submit" class="log-submit-btn"><span>Log In</span></button>
                                    <div class="clearfix"></div>
                                    <div class="filter-tags">
                                        <input id="check-a" type="checkbox" name="check">
                                        <label for="check-a">Remember me</label>
                                    </div>
                                </form>
                                <div class="lost_password">
                                    <a href="#">Lost Your Password?</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <div id="tab-2" class="tab-contents">
                                <div class="custom-form">
                                    <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                                        <label>First Name * </label>
                                        <input name="name" type="text" onClick="this.select()" value="">
                                        <label>Second Name *</label>
                                        <input name="name2" type="text" onClick="this.select()" value="">
                                        <label>Email Address *</label>
                                        <input name="email" type="text" onClick="this.select()" value="">
                                        <label>Password *</label>
                                        <input name="password" type="password" onClick="this.select()" value="">
                                        <button type="submit" class="log-submit-btn"><span>Register</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--register form end -->

    <!-- START PRELOADER -->
    <div id="preloader">
        <div id="status">
            <div class="status-mes"></div>
        </div>
    </div>
</div>
<!-- Wrapper / End -->