<div id="wrapper">
  <!-- START SECTION HEADINGS -->
  <!-- Header Container
  ================================================== -->
  <app-header-before-login></app-header-before-login>
  <div class="clearfix"></div>

  <section style="padding: 0px;background: #fff;" class="blog-section">
      <div class="container">
          <div class="h-100 d-flex justify-content-center align-items-center">
              <div>
                  <div id="login-box">
                      <div *ngIf="error" class="floatError text-danger text-center">{{error}} <span class="float-right pointer" (click)="error=undefined">&#10005;</span></div>
                      <div class="left">
                          <h1 class="mt-4">Login</h1>
                          <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="form">
                              <input type="text" placeholder="E-mail"  formControlName="email"/>
                              <input type="password" placeholder="Password" formControlName="password"/>
                              <button type="submit" class="btn btn-primary" [disabled]=disabled>Login</button>
                          </form>
                      </div>
                        
                      <div class="right text-center">
                          <span class="loginwith mb-0 mt-4" >Create account</span>
                          <p class="text-white">If you have not an account.</p>
                          
                          <button class="social-signin facebook" routerLink="/{{ROUTS.SIGNUP}}">SignUp</button>
                      </div>
                        <div class="or">OR</div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <footer class="first-footer">
      <div class="second-footer">
          <div class="container">
              <p>2021 ©</p>
          </div>
      </div>
  </footer>
</div>