<body class="inner-pages hd-white">
<!-- Wrapper -->
<div id="wrapper">
    <!-- START SECTION HEADINGS -->
    <!-- Header Container
    ================================================== -->
    <app-header-before-login></app-header-before-login>
    <div class="clearfix"></div>
    <!-- Header Container / End -->

    <section class="">
        <div class="text-heading text-center">
            <div class="container">
                <h1>Gym Details</h1>
                <h2><a href="index.html">Home </a> &nbsp;/&nbsp; Gym Details</h2>
            </div>
        </div>
    </section>
    <!-- END SECTION HEADINGS -->

    <!-- START SECTION BLOG -->
    <section class="blog blog-section bg-white">
        <div class="container">
            <div class="row" *ngIf="gymDetailResponse && gymDetailResponse.data">
                <div class="col-lg-9 col-md-12 blog-pots">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="news-item details no-mb2">
                                <a href="javascript:;" class="news-img-link">
                                    <div class="news-item-img">
                                        <img style="height: 500px;width: 100%;" class="img-responsive" *ngIf="gymDetailResponse.data.imagePath" src="{{URL.GET_IMAGE}}{{gymDetailResponse.data.imagePath}}" alt="blog image">
                                    </div>
                                </a>
                                <div class="news-item-text details pb-0">
                                    <a href="javascript:;"><h3>{{ gymDetailResponse.data.name }}</h3></a>
                                    <div class="dates">
                                        <span class="date">{{ gymDetailResponse.data.address }}</span>
                                    </div>
                                    <div style="min-height: 100px;margin-bottom: 30px;" [innerHTML]="gymDetailResponse.data.description">
                                        <!-- <p class="mb-3" [innerHTML]="gymDetailResponse.data.description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, ea? Vitae pariatur ab amet iusto tempore neque a, deserunt eaque recusandae obcaecati eos atque delectus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi labore vel enim repellendus excepturi autem. Eligendi cum laboriosam exercitationem illum repudiandae quasi sint dicta consectetur porro fuga ea, perspiciatis aut!</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="course-detal-main embed-responsive embed-responsive-21by9" *ngIf="gymDetailResponse.data.videoUrl">
                            <!-- <iframe class="e2e-iframe-trusted-src embed-responsive" [src]="videoUrl"></iframe> -->
                            <iframe width="420" height="315" [src]="videoUrl" frameborder="0" allowfullscreen allow="encrypted-media"></iframe>
                        </div>
                    </div>
                    <section style="margin-top: 20px;" class="comments" *ngIf="gymDetailResponse && gymDetailResponse.data">
                        <h3 class="mb-5">Gym Gallery</h3>
                        <!-- <div class="col-sm-12">
                            <div style="margin-top: 10px;" *ngFor="let gallery of gymDetailResponse.data.galleryImages"><img class="news-item-img col-sm-3" src="{{URL.GET_IMAGE}}{{gallery}}" alt="blog image" style="height: 200px;width: 266px;"></div>
                        </div> -->
                        <div class="row11">
                            <div class="column" *ngFor="let gallery of gymDetailResponse.data.galleryImages">
                              <img src="{{URL.GET_IMAGE}}{{gallery}}" alt="gallery_image" style="width:100%; height: 187px;">
                            </div>
                        </div>
                        <!-- <div class="row ml-5">
                            <ul class="col-12 commented">
                                <li class="comm-inf">
                                    <div class="col-md-2">
                                        <img src="images/testimonials/ts-5.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-10 comments-info">
                                        <h5 class="mb-1">Mary Tyron</h5>
                                        <p class="mb-4">Jun 23, 2020</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam, quam congue dictum luctus, lacus magna congue ante, in finibus dui sapien eu dolor. Integer tincidunt suscipit erat, nec laoreet ipsum vestibulum sed.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row my-4">
                            <ul class="col-12 commented">
                                <li class="comm-inf">
                                    <div class="col-md-2">
                                        <img src="images/testimonials/ts-6.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-10 comments-info no-mb">
                                        <h5 class="mb-1">Leo Williams</h5>
                                        <p class="mb-4">Jun 23, 2020</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam, quam congue dictum luctus, lacus magna congue ante, in finibus dui sapien eu dolor. Integer tincidunt suscipit erat, nec laoreet ipsum vestibulum sed.</p>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                    </section>
                </div>
                <aside class="col-lg-3 col-md-12">
                    <div class="widget">
                        <div class="recent-post pt-5">
                            <h5 class="font-weight-bold mb-4">Location Details</h5>
                            <div class="recent-main">
                                <div class="info-img">
                                    <a href="blog-details.html"><h6>City</h6></a>
                                    <p>{{ gymDetailResponse.data.city }}</p>
                                </div>
                            </div>
                            <div class="recent-main my-4">
                                <div class="info-img">
                                    <a href="blog-details.html"><h6>State</h6></a>
                                    <p>{{ gymDetailResponse.data.state }}</p>
                                </div>
                            </div>
                            <div class="recent-main no-mb">
                                <div class="info-img">
                                    <a href="blog-details.html"><h6>Country</h6></a>
                                    <p>{{ gymDetailResponse.data.country }}</p>
                                </div>
                            </div>
                            <div class="recent-main no-mb" *ngIf="gymDetailResponse.data.email">
                                <div class="info-img">
                                    <a href="blog-details.html"><h6>Email</h6></a>
                                    <p>{{ gymDetailResponse.data.email }}</p>
                                </div>
                            </div>
                            <!-- <div class="recent-main no-mb" *ngIf="gymDetailResponse.data.videoUrl">
                                <div class="info-img">
                                    <a href="blog-details.html"><h6>Video url</h6></a>
                                    <p>{{ gymDetailResponse.data.videoUrl }}</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- END SECTION BLOG -->

    <!-- START FOOTER -->
    <footer class="first-footer">
        <div class="second-footer">
            <div class="container">
                <p>2021 ©</p>
            </div>
        </div>
    </footer>

    <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    <!-- END FOOTER -->

    <!--register form -->
    <div class="login-and-register-form modal">
        <div class="main-overlay"></div>
        <div class="main-register-holder">
            <div class="main-register fl-wrap">
                <div class="close-reg"><i class="fa fa-times"></i></div>
                <h3>Welcome to <span>Find<strong>Houses</strong></span></h3>
                <div class="soc-log fl-wrap">
                    <p>Login</p>
                </div>
                <div class="log-separator fl-wrap"><span>Or</span></div>
                <div id="tabs-container">
                    <ul class="tabs-menu">
                        <li class="current"><a href="#tab-1">Login</a></li>
                        <li><a href="#tab-2">Register</a></li>
                    </ul>
                    <div class="tab">
                        <div id="tab-1" class="tab-contents">
                            <div class="custom-form">
                                <form method="post" name="registerform">
                                    <label>Username or Email Address * </label>
                                    <input name="email" type="text" onClick="this.select()" value="">
                                    <label>Password * </label>
                                    <input name="password" type="password" onClick="this.select()" value="">
                                    <button type="submit" class="log-submit-btn"><span>Log In</span></button>
                                    <div class="clearfix"></div>
                                    <div class="filter-tags">
                                        <input id="check-a" type="checkbox" name="check">
                                        <label for="check-a">Remember me</label>
                                    </div>
                                </form>
                                <div class="lost_password">
                                    <a href="#">Lost Your Password?</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <div id="tab-2" class="tab-contents">
                                <div class="custom-form">
                                    <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                                        <label>First Name * </label>
                                        <input name="name" type="text" onClick="this.select()" value="">
                                        <label>Second Name *</label>
                                        <input name="name2" type="text" onClick="this.select()" value="">
                                        <label>Email Address *</label>
                                        <input name="email" type="text" onClick="this.select()" value="">
                                        <label>Password *</label>
                                        <input name="password" type="password" onClick="this.select()" value="">
                                        <button type="submit" class="log-submit-btn"><span>Register</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--register form end -->

</div>
<!-- Wrapper / End -->
</body>