<!-- Wrapper -->
<div id="wrapper">
        <!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
        <app-header-before-login></app-header-before-login>
        <div class="clearfix"></div>
        <!-- Header Container / End -->
        <section style="padding: 0px;" class="ui-element text-center">
            <div class="text-heading">
                <div class="container">
                    <div class="col-sm-12" style="display: inline-flex;font-size: larger;">
                        <div style="margin-top: 8px;padding: 0px;" class="col-sm-2" *ngIf="strechData">
                           <h2>{{strechData.title}}</h2> 
                        </div>
                        <div style="padding: 0px;margin: 0px;" class="col-sm-10">
                            <button class="btn btn-outline btn-primary" (click)="setType('Bodyweight')" [ngClass]="{'active':getType()=='Bodyweight'}">Bodyweight</button>
                            <button class="btn btn-outline btn-primary" (click)="setType('Barbell')" [ngClass]="{'active':getType()=='Barbell'}">Barbell</button>
                            <button class="btn btn-outline btn-primary" (click)="setType('Dumbbells')" [ngClass]="{'active':getType()=='Dumbbells'}">Dumbbells</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <hr>
    <section style="padding: 0px;background: #fff;" class="blog-section" *ngIf="strechData">
        <div class="container">
            <p class="text-justify">{{strechData.description}}</p>
            
            <h2>{{type}}</h2>
            <hr>
            <div *ngFor="let setDiv of strechData.streches;index as i">
                <p style="font-size: 30px;"><b>{{setDiv.title}}</b></p>
                <div class="row viewImg" *ngIf="i%2!=1">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngFor="let img of setDiv.images">
                        <a [href]="img.redirectLink">
                            <img [src]="img.viewLink" width="100%">
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-5">
                        <ol>
                            <li *ngFor="let step of setDiv.steps" class="mb-4">{{step}}</li>
                        </ol>
                    </div>
                </div>
                <div class="row viewImg" *ngIf="i%2==1">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pt-5">
                        <ol>
                            <li *ngFor="let step of setDiv.steps" class="mb-4">{{step}}</li>
                        </ol>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngFor="let img of setDiv.images">
                        <a [href]="img.redirectLink">
                            <img [src]="img.viewLink" width="100%">
                        </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>
        <!-- START FOOTER -->
        <footer class="first-footer">
            <div class="second-footer">
                <div class="container">
                    <p>2021 ©</p>
                </div>
            </div>
        </footer>
        <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
    </div>
    <!-- Wrapper / End -->