.error { border-color: #fa626b !important; }
.hide { display: none; }
.radius-button-height {
    height: 40px;
}
.font-style-list-name {
	font-family: 'Comfortaa', cursive, 'Times New Roman', Times, serif !important;
    font-weight: 400 !important;
    margin-left: 10px;
}

.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
} */

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
      
      

.m-10{margin: 10px}
.menuicon{width: 45px;padding: 8px;}
.image-size { width: 300px; height: 200px;}
.locationTable {
    max-height: 300px !important;
    overflow-y: auto !important;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #626e82;
}
.locationTable .table {
     margin-bottom: 0px !important;
}
.addOrRemoveLocations {
     margin-bottom: 0px !important;
}
.locationSearchTable .table td{
	border-top: 0px solid #626e82 !important;
}
.locationSearchTable {
    max-height: 300px !important;
    overflow-y: auto !important;
    margin-bottom: 1.2em;
}
.searchCity{text-align: right;}
.ingTable {
    max-height: 300px !important;
    overflow-y: auto !important;
}
.overflowx { overflow-x : auto};

.expected-send-date {
    position: relative !important;
    color: white !important;
}

.expected-send-date:before {
    content: attr(data-date) !important;
}

.expected-send-date::-webkit-datetime-edit, .expected-send-date::-webkit-inner-spin-button, .expected-send-date::-webkit-clear-button {
    display: none !important;
}

.expected-send-date::-webkit-calendar-picker-indicator {
    position: absolute !important;
    width: 7px !important;
    height:7px !important;
    right: 25px !important;
    color: black !important;
    opacity: 1 !important;
}
.dataTables_filter{
	float: right;
}
.dataTables_paginate{
	float: right;
}

.time-table-td{
	padding: 0px !important;
/* 	border: 0px !important; */
}
.time-table-input{
	border: 0px !important;
	border-radius: 0px !important;
}
.time-table-input:focus {
	border: 1px solid #465fd7 !important;
	border-radius: 0px !important;
	color: #3b4781 !important;
}



